
button {
  border-radius: $rad_btn_border_small;
  color: $txt;
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
  background-color: $btn_bg;
}

button:hover {
  @include trans-ease-anticipate;
  background-color: unset;
  background-color: $btn_bg_hov;
  transition-property: background-color;
  /*box-shadow: 0 $btn_float_dist 2px $col_acc;*/
  /*margin-bottom: $btn_float_dist;*/
}

button:active {
  @include trans-instant;
  background-color: unset;
  background-color: $btn_bg_act;
  transition-property: background-color;
}

.close:hover {
  @include trans-ease-anticipate;
  background-color: unset;
  background-color: $col_close_hov;
  transition-property: background-color;
}

.close:active {
  @include trans-instant;
  background-color: unset;
  background-color: $col_close_act;
  transition-property: background-color;
}

.affirmative {
  .icon {
    color: $sys_col_green_l;
  }
  color: $sys_col_green_l;
}

.negative {
  .icon {
    color: $sys_col_red_l;
  }
  color: $sys_col_red_l;
}
