* {all: unset}
.context.menu {
  .context.option {
    margin-top: 2px;
    margin-bottom: 2px;
    @include trans-ease-anticipate;
    transition-property: background-color;
    background-color: $btn_bg;
    padding: 2px;
  }

  .instance:first-child > .context.option {
    margin-top: unset;
    margin-bottom: 2px;
    border-radius: $rad_btn_border_large $rad_btn_border_large $rad_btn_border_small $rad_btn_border_small;
  }

  .instance:last-child > .context.option {
    margin-top: 2px;
    margin-bottom: unset;
    border-radius: $rad_btn_border_small $rad_btn_border_small $rad_btn_border_large $rad_btn_border_large;
  }

  .instance:only-child > .context.option {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: $rad_btn_border_large;
  }


  .instance:hover {
    .context.option {
      @include trans-ease-anticipate;
      transition-property: background-color;
      background-color: $btn_bg_hov;
    }
  }

  .instance:active {
    .context.option {
      @include trans-instant;
      transition-property: background-color;
      background-color: $btn_bg_act;
    }
  }

  background-color: $bg_main_light;
  border-radius: $rad_win_border_large;
  padding: 4px;
}

label.option {
  padding: 3px;
  margin-left: 5px;
}
