* {all: unset}
box.wallpaper {
  background-image: url('arch-wp-grey-orange.jpg');
  background-size: cover;
}

.wallpaper {
  background-color: black;
  background-image: url('arch-wp-grey-orange.jpg');
}
