*{all: unset;}

.dialog {
  .title {
    padding: unset;
    font-size: 20px;
    font-weight: 600;
  }
  .info {
    padding: unset;
    font-size: 14px;
    color: $col_acc;
  }
  .info.codeblock {
    padding: 4px;
    font-size: 14px;
    background-color: $bg_main_dark;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: $rad_win_border_large;
  }
  .detail {
    color: $txt;
  }
  .password {
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 8px;
    background-color: $bg_main_dark;
    border-radius: $rad_win_border_large;
  }
  background-color: $bg_main;
  color: $txt;
  border-radius: $rad_win_border_large;
  padding: $win_padding;
  font-size: 18px;
  font-weight: 300;
}

.confirm {
  button {
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
  }
  margin-bottom: $win_padding;
}
