*{all: unset}

.dock-item {
  .icon {
    margin-left: 8px;
    margin-right: 8px;
  }
  .dock-item {
    margin: 3px;
  }
  background-color: $btn_bg;
  border-radius: $rad_btn_border_large;
  margin: 1px;
}

.icon {
  @include trans-ease-anticipate;
  transition-property: color;
  padding: 3px;
  margin: 0px;
}

.search_dormant {
  background-color: transparent;
}

.search_toggled {
  background-color: $bg_main_dark;
}
