*{all: unset}

.dock {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: $bg_main;
  border-radius: $rad_win_border_large;
  padding: 3px;
}

.dock-item {
  .icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px;
  }
  .dock-item {
    margin: 3px;
  }
  background-color: $btn_bg;
  border-radius: $rad_btn_border_large;
  margin: 1px;
}

.icon {
  @include trans-ease-anticipate;
  transition-property: color;
  padding: 3px;
  margin: 0px;
}

.dock:first-child {
  margin-right: 5px;
  margin-left: 0px;
}

.dock:last-child {
  margin-right: unset;
}

.search {
  color: $txt;
}

.search_dormant {
  background-color: $btn_bg;
}

.search-dormant:hover {
  @include trans-ease-anticipate;
  background-color: $btn_bg_hov;
}

.search_toggled {
  background-color: $bg_main_dark;
}

.invis {
  background-color: transparent;
  padding: 0;
}

.menuOpt.start {
  .icon {
    background-color: unset;
  }
  @include trans-ease-anticipate;
  background-color: $btn_bg;
}

.menuOpt.start:hover {
  @include trans-ease-anticipate;
  background-color: $btn_bg_hov;
}

.menuOpt.start:active {
  @include trans-instant;
  background-color: $btn_bg_act;
}

.holder {
  padding: 3px;
  background-color: transparent;
}

.start {
  @extend button;
}
