*{all: unset}

.dock-item {
  background-color: transparent;
  border-radius: $rad_btn_border_large;
  margin: 1px;
}

.icon {
  @include trans-ease-anticipate;
  transition-property: color;
  padding: 3px;
  margin: 3px;
}

.search_dormant {
  background-color: transparent;
}

.search_toggled {
  background-color: $bg_main_dark;
}
