*{all: unset;}

.status {
  .icon {
    margin: unset;
    margin: 5px;
    padding: 5px;
  }
  margin-top: 3px;
}

.status:hover,.status:active {
  @extend button;
  border-radius: $rad_btn_border_large;
}

