@mixin trans-ease-anticipate {
  transition-timing-function: cubic-bezier(0.52,0.13,0.42,1.0);
  transition-duration: 0.2s;
}

@mixin trans-instant {
  transition-timing-function: linear;
  transition-duration: 0s;
}
/*Use of anim-flash is discouraged for photosensitivity reasons, and will be removed soon. Use anim-pulse instead*/
@mixin anim-flash($col1, $col2) {
  @keyframes anim-flash {
    0.000% {color: $col1;}
    24.50% {color: $col1;}
    26.50% {color: $col2;}
    74.50% {color: $col2;}
    76.50% {color: $col1;}
    100.0% {color: $col1;}
  }
  animation-name: anim-flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@mixin anim-pulse($col1, $col2, $property) {
  @keyframes anim-pulse {
    0%,
    50%,
    100% {
      #{$property}: $col1;
    }

    25%,
    75% {
      #{$property}: $col2;
    }
  }
  animation: anim-pulse 2.5s cubic-bezier(0.83,0,0.17,1) 0s infinite normal none;
}
