$bg_menu: rgba(54,58,66,1);
$bg_main: rgba(41,46,49,1);
$bg_main_light: rgba(48,55,62,1);
$bg_main_dark: rgba(29,33,36,1);

$shade_intensity: 6%;
$shade_contrast_multiplier: 5.0;
$col_light: rgba(200,196,255,1);
$col_shade:rgba(10,17,27);

$bg_main_border_highlight_primary: mix($col_light, $bg_main, calc($shade_contrast_multiplier * $shade_intensity));
$bg_main_border_shadow_primary: mix($col_shade, $bg_main, calc($shade_contrast_multiplier * $shade_intensity));
$bg_main_border_highlight_secondary: mix($col_light, $bg_main, calc(calc($shade_contrast_multiplier / 2) * $shade_intensity));
$bg_main_border_shadow_secondary: mix($col_shade, $bg_main, calc(calc($shade_contrast_multiplier / 2) * $shade_intensity));

$btn_bg: rgba(56,73,81,0.6);
$btn_bg_hov: rgba(56,73,81,1.0);
$btn_bg_act: rgba(69,90,100,1.0);

$btn_bg_opaq: mix(rgb(56,73,81),$bg_main,60%);
$btn_bg_hov_opaq: mix(rgb(56,73,81),$bg_main,100%);
$btn_bg_act_opaq: mix(rgb(69,90,100),$bg_main,100%);

$txt: rgb(236,239,241);
$txt_inactive: rgb(144,164,171);

$col_close: rgb(230,37,85);
$col_close_hov: rgba(230,37,85,0.4);
$col_close_act: rgba(255,0,64,1.0);

$tab_bg: rgba(56,73,81,0.6);
$tab_bg_hov: rgba(56,73,81,1.0);
$tab_bg_act: rgba(69,90,100,1.0);
$tab_bg_focus: rgba(69,90,100,0.8);
$tab_bg_opaq: mix(rgb(56,73,81),$bg_main,60%);
$tab_bg_hov_opaq: mix(rgb(56,73,81),$bg_main,100%);
$tab_bg_act_opaq: mix(rgb(69,90,100),$bg_main,100%);

$col_acc: rgb(229,73,25);

/*define certain system ICON colors such as shutdown, warning, etc. as mixins.*/
@mixin col_shutdown {
  color: $col_close;
}
