$bg_menu: rgba(61,54,66,1);
$bg_main: rgba(49,47,55,1);
$bg_main_light: rgba(64,55,69,1);
$bg_main_dark: rgba(43,38,50,1);

$shade_intensity: 0%;
$shade_contrast_multiplier: 5.0;
$col_light: rgba(246,196,255,1);
$col_shade:rgba(53,25,58);

$bg_main_border_highlight_primary: mix($col_light, $bg_main, calc($shade_contrast_multiplier * $shade_intensity));
$bg_main_border_shadow_primary: mix($col_shade, $bg_main, calc($shade_contrast_multiplier * $shade_intensity));
$bg_main_border_highlight_secondary: mix($col_light, $bg_main, $shade_intensity);
$bg_main_border_shadow_secondary: mix($col_shade, $bg_main, $shade_intensity);

$btn_bg: rgba(205,197,212,0.1);
$btn_bg_hov: rgba(205,197,212,0.25);
$btn_bg_act: rgba(229,218,237,0.35);

$btn_bg_opaq: mix(rgb(205,197,212),$bg_main,10%);
$btn_bg_hov_opaq: mix(rgb(205,197,212),$bg_main,25%);
$btn_bg_act_opaq: mix(rgb(229,218,237),$bg_main,35%);

$txt: rgb(242,250,255);
$txt_inactive: rgb(189,199,201);

$col_close_hov: rgba(230,37,85,0.4);
$col_close_act: rgba(255,0,64,1.0);

$tab_bg: rgba(205,197,212,0.1);
$tab_bg_hov: rgba(205,197,212,0.25);
$tab_bg_act: rgba(229,218,237,0.35);
$tab_bg_focus: rgba(205,197,212,0.25);
$tab_bg_opaq: mix(rgb(205,197,212),$bg_main,10%);
$tab_bg_hov_opaq: mix(rgb(205,197,212),$bg_main,25%);
$tab_bg_act_opaq: mix(rgb(229,218,237),$bg_main,35%);

$col_acc: rgb(221,198,245);
