/*ANONYMOUS PRO*/
/*MONOSPACE*/
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro.ttf');
}

@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousProBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: AnonymousProItalic;
  src: url('fonts/AnonymousProItalic.ttf');
}

@font-face {
  font-family: AnonymousProItalic;
  src: url('fonts/AnonymousProBoldItalic.ttf');
  font-weight: bold;
}

/*TIMEBURNER*/

@font-face {
  font-family: TimeBurner;
  src: url('fonts/Timeburner.ttf');
}

@font-face {
  font-family: TimeBurner;
  src: url('fonts/TimeburnerBold.ttf');
  font-weight: bold;
}

/*MONOFUR*/

@font-face {
  font-family: Monofur;
  src: url('fonts/Monofur.ttf');
}
